<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005790610460-sebiq7k0sqqr9rktjc3uc8frmrn6s4t2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005790610460-sebiq7k0sqqr9rktjc3uc8frmrn6s4t2</string>
	<key>API_KEY</key>
	<string>AIzaSyDT0NcFnOnlwT19U4dEECYI1hNnIqLOa9c</string>
	<key>GCM_SENDER_ID</key>
	<string>1005790610460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akshayr.cliDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-demo-f7850</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-demo-f7850.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005790610460:ios:41602b553694ddb4844bd9</string>
</dict>
</plist>